#date {
    text-align: center;
    background-color: yellow;
    text-align: left;
    font-size: 20px;
   }

#menudiv {
    text-align: left;
    background-color:orange;
    /*  overflow: hidden; */

   }
.menuoption{
    text-align: left;
    display: inline-block;
    background-color: orange;
    font-size:20px;
    }


.formulario   {
    text-align: left;
    display: none;
    margin:0px;
    font-size: 10px;
    border: 1px solid black;
    position: absolute;
     }

#formulario_login,#formulario_registro {
  
        display: none;

         }

#mensaje {
  
            display: none;
    
             }
#submit_login_form,#submit_register_form{

    background-color: orange;
    font-size:20px;
    }

fieldset{
    
    background-color:grey;
    border: 2px solid black;
    font-size: 20px;
    font-weight: bold;
    max-width: 400px;
 }

#header
{
    color:black;
    font-size: 10px;
    font-weight: bold;
}
label{
        font-size: 15px;
        color: black;
     }
button{
    color:black;
    background-color: white;
    text-align: center;
    font-size: 10px;
 }

.formulario
{
    display: block;
 }

